<div class="dashboard container">
  <select class="select">
    <option>Ruby</option>
    <option>JavaScipt</option>
  </select>
  <div class="info">
    <p class="title">Project Manager</p>
    <p class="value">Kaz Bello</p>
    <div class="info-bar">
      <div class="info-box">
        <p class="title">Project ID</p>
        <p class="value">P1244</p>
      </div>
      <div class="info-box">
        <p class="title">Phase</p>
        <p class="value">Concept</p>
      </div>
      <div class="info-box">
        <p class="title">Status</p>
        <p class="value">Inflight</p>
      </div>
      <div class="info-box">
        <p class="title">Business Area</p>
        <p class="value">Finance</p>
      </div>
      <div class="info-box">
        <p class="title">Start Date</p>
        <p class="value">05/01/2019</p>
      </div>
      <div class="info-box">
        <p class="title">End Date</p>
        <p class="value">20/04/2021</p>
      </div>
      <div class="progress-container">
        <p class="title">Progress</p>
        <div class="progress-box">
          <div class="progress-bar"></div>
          <p class="title">0%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-sections">
    <div class="summary-sections-item summary-sections-item-active">
      Summary
    </div>
    <div class="summary-sections-item">
      Summary Breakdown
    </div>
    <div class="summary-sections-item">
      Resource Cost
    </div>
    <div class="summary-sections-item">
      Non-Resource Cost
    </div>
  </div>
  <p class="cost">Cost</p>
  <div class="add-sub-cost">
    <div class="empty"></div>
    <div class="operators">
      <div class="operator">
        +
      </div>
      <div class="operator">
        -
      </div>
    </div>
  </div>
  <div class="costSD">
    <p class="csd">Cost Summary & Drawdown</p>
    <div class="tools">
      <div class="tools-box">
        <p class="tools-title">Export to PDF</p>
        <img src="assets/pdf.png" alt="pdf">
      </div>
      <div class="tools-box">
        <p class="tools-title">Export to Excel</p>
        <img src="assets/excel.png" alt="excel">
      </div>
      <div class="tools-box">
        <p class="tools-title">Graph</p>
        <img src="assets/statistics.png" alt="statistics">
      </div>
      <div class="qmark">?</div>
      <div class="minus">
        <div class="minus-icon"></div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-box">
      <div class="prev pagination-box-item">
        <img src="assets/prev.png" alt="">
        <p>Previous</p>
      </div>
      <div class="next pagination-box-item">
        <p>Next</p>
        <img src="assets/next.png" alt="">
      </div>
    </div>
  </div>
  <div class="table-board table-responsive">
    <table class="table table-separate">
      <thead>
        <tr>
          <th></th>
          <th>2019</th>
          <th>2020</th>
          <th>2021</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="header">Approved Budget</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="phase">Phase</p>
  <select class="select">
    <option>Concept</option>
    <option>All Phases</option>
    <option>Feasibility</option>
  </select>
  <div class="table-board table-part table-responsive">
    <table class="table table-separate">
      <tbody>
        <tr>
          <td class="header">Approved Drawdown</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
        <tr>
          <td class="header">Year To Date Spend</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
        <tr>
          <td class="header">Remaining Spend</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
        <tr>
          <td class="header">Total Spend</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
        <tr>
          <td class="header">Variance <sub>(Budget vs Spend)</sub></td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
        <tr>
          <td class="header">Variance (%)</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
          <td class="cell">£150,000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="costSD cost-breakdown">
    <p class="csd">Cost Breakdown</p>
    <div class="tools">
      <div class="qmark">?</div>
      <div class="minus">
        <div class="minus-icon"></div>
      </div>
    </div>
  </div>
  <div class="table-cost table-responsive">
    <table class="table">
      <colgroup>
        <col class="grey" />
        <col span="3" class="blue" />
        <col span="3" class="blue" />
        <col class="light-blue" />
        <col class="light-blue" />
        <col class="blue" />
        <col class="blue" />
        <col class="orange" />
        <col class="blue" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="8" class="text-center"
            style="background-color:#062a55; color: #FFF; border-radius: 0px 0px 7px 7px;">2020</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="3" class="text-center">July</th>
          <th scope="col" colspan="3" class="text-center">Year To Date</th>
          <th scope="col">Remaining Spend To Complete</th>
          <th scope="col">Total Spend</th>
          <th scope="col">2019 Spend</th>
          <th scope="col">Life Time Spend</th>
          <th scope="col" class="orange">Approved Budget</th>
          <th scope="col">Variance(Approved Budget vs Life Time Spend)</th>
        </tr>
        <tr>
          <th scope="col" class="header">Cost Type</th>
          <th scope="col">Forecast</th>
          <th scope="col">Actual</th>
          <th scope="col">Variance</th>
          <th scope="col">Forecast</th>
          <th scope="col">Actual</th>
          <th scope="col">Variance</th>
          <th scope="col">Forecast</th>
          <th scope="col">Forecast</th>
          <th scope="col">Actual</th>
          <th scope="col">Forecast</th>
          <th scope="col" class="orange"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="header">Internal Resource</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row" class="header">External/Consultancy</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row" class="header">Hardware</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row" class="header">Software</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row" class="header">Other</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row" class="header">Total</th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="costSD cost-breakdown">
    <p class="csd">History</p>
    <div class="tools">
      <div class="minus">
        <div class="minus-icon"></div>
      </div>
    </div>
  </div>
  <div class="table-history table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20%;">Date</th>
          <th scope="col" style="width: 20%;">User</th>
          <th scope="col" style="width: 60%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="edit-btn">Edit</button>
</div>
