<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="assets/logo.png" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="assets/avatar.jpg" alt="" class="avatar">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="search-box">
          <input type="text" name="" id="" class="form-control" placeholder="Search">
          <img src="assets/search.png" alt="" class="search-icon">
        </div>
        <li class="nav-item">
          <div class="nav-item-counter">13</div>
          <a class="nav-link">Project Register</a>
        </li>
        <li class="nav-item">
          <div class="nav-item-counter">13</div>
          <a class="nav-link">Programme Register</a>
        </li>
        <li class="nav-item">
          <div class="nav-item-counter">13</div>
          <a class="nav-link">My Project</a>
        </li>
        <li class="nav-item">
          <div class="nav-item-counter">13</div>
          <a class="nav-link">My Programme</a>
        </li>
        <div class="account d-flex">
          <img src="assets/avatar.jpg" alt="" class="avatar hide">
          <img src="assets/logout.png" alt="" class="logout">
        </div>
      </ul>
    </div>
  </div>
</nav>
