/* You can add global styles to this file, and also import other style files */

@import "./assets/fonts";

:root {
  --primary-color: #062a55;
  --secondary-color: rgba(6, 42, 85, 0.13);
}

* {
  margin: 0;
  padding: 0;
  font-family: "GalanoGrotesqueMedium";
}

body {
  box-sizing: border-box;
  border-right: 27px solid #e8f1ff;
  border-bottom: 40px solid #e8f1ff;
  border-left: 28px solid #e8f1ff;
}

p {
  margin-bottom: 0 !important;
}

select {
  width: 164px !important;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  padding-right: 10px;
  border-radius: 6px;
  padding: 12px 20px 11px 18px;
  position: relative;

  &:focus {
    outline: none;
  }
}

select option {
  background: red !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100% !important;
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}
